
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    
    padding: 12px 30px;
    justify-content: space-between;
    align-items: center;
}
.part1, .part2 {
    display: flex;
    
}
.part1 {
    text-align: center;
    align-items: center;
}
.part2 {
    text-align: center;
    align-items: center;
}
.nav__links {
    display: flex;
    list-style: none;
    margin-left: 50px;
    
}
.nav__links li {
    font-size: 16px;
    margin: 12px;
}
.nav__links li a {
    text-decoration: none;
    color: gray;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.nav__links li a:hover {
    color: green;
  
}
.navLinks {
    display: flex;
    list-style: none;
    margin-right: 40px;
    color: gray;
}
.navLinks li {
    margin: 12px;
    font-size: 16px;
}
.navLinks li a {
    text-decoration: none;
    color: gray;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.navLinks li a:hover {
    color: green;
   
}
.part2 p {
    margin-right: 30px;
    font-size: 20px;
}
.part2 i {
    margin-right: 20px;
    font-size: 20px;
}

/* hero section */
#hero {
    
    padding: 80px 120px;
    display: flex;
    justify-content: space-between;
}
.hero-content {
    
    padding-top: 40px;
    padding-left: 100px;
}
.hero-content #leaf-logo{
    margin-bottom: 40px;
}
.hero-content h4 {
    margin-bottom: 40px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.hero-content h1{
    margin-bottom: 40px;
    font-size: 3.25rem;
    font-family: 'Merriweather', serif;
    
}
.hero-content p {
    margin-bottom: 40px;
}
.hero-content button {
    padding: 12px 33px;
    background-color: 	rgb(53, 168, 53);
    color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.hero-content button:hover {
    background-color: rgb(53, 191, 53);
}
.hero-content button i {
    margin-right: 12px;
}

/* banner section */
#banner {
    border: 2px solid black;
    padding: 30px 100px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    margin-bottom: 20px;
    height: 200px;
}
.banner-box {
    
    width: 20%;
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 46, 46);
    color: #fff;
    height: 120px;
}
.banner-box i {
    color: forestgreen;
}
.banner-box h5 {
    margin-left: 14px;
    margin-top: 5px;
   font-size: 1rem;
}
.banner-box a {
    text-decoration: none;
    color: #fff;
}
.banner-box h4 {
    font-size: 1.5rem;
    font-family: 'Merriweather',serif;
}
.banner-box h4 i {
    margin-right: 12px;
}

/* best selling produtcs */

#best-selling {
  
   display: flex;
   flex-direction: column;
   padding: 80px 40px;
   margin-bottom: 50px;
   position: relative;
}
#best-selling .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#best-selling .heading img {
    margin-top: 20px;
}
.products {
    
    padding: 80px 100px;
    display: flex;
    justify-content: space-evenly;
}
.products .product-box {
    
    width: 30%;
    margin: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-align: center;
}
.products .product-box a {
    text-decoration: none;
    color: black;
    
}
.products .product-box img {
    width: 100%;
}
.products .product-box p, h4, .stars {
    margin-top: 10px;
}
.the-leaf {
    position: absolute;
    bottom: 0px;
    left: 670px;
    width: 150px;
}

/* organic fruits legumes vegetables */
#organic {
    
    padding: 80px 100px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    background-color: rgb(250, 241, 230);
}
.organic-boxes{
    border: none;
    outline: none;
    padding-top: 60px;
    padding-left: 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: relative;
    height: 400px;
    margin: 12px;
    background-color: #fff;
    z-index: 0;
    border-radius: 20px;
}
.organic-boxes h3 {
    font-size: 25px;
    margin-bottom: 30px;
}
.organic-boxes p {
    margin-bottom: 30px;
}
.organic-boxes img {
    width: 250px;
    position: absolute;
    z-index: -1;
    bottom: 10px;
    right: 5px;
}
.organic-boxes button {
    padding: 12px 13px;
    background-color: 	rgb(53, 168, 53);
    color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.organic-boxes button:hover {
    background-color: rgb(53, 191, 53);
}
.organic-boxes button i {
    margin-right: 12px;
}
.organic-boxes button .arrow {
  margin-left: 12px;
}
#organic .organic-boxes:nth-child(2) img {
    width: 200px;
    top: 220px;
}
#organic .organic-boxes:nth-child(3) img{
    top: 200px;
}
/* 
discount banner */
#discount-banner {
   background-color: black;
   color: #fff;
   padding: 60px 200px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 40px;
}
#discount-banner h1 {
    font-size: 2.5rem;
}
#discount-banner button {
    padding: 12px 33px;
    background-color: 	rgb(53, 168, 53);
    color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
#discount-banner button:hover {
    background-color: rgb(53, 191, 53);
}
#discount-banner button i {
    margin-right: 12px;
}