
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    
    padding: 12px 30px;
    justify-content: space-between;
    align-items: center;
}
.part1, .part2 {
    display: flex;
    
}
.part1 {
    text-align: center;
    align-items: center;
}
.part2 {
    text-align: center;
    align-items: center;
}
.nav__links {
    display: flex;
    list-style: none;
    margin-left: 50px;
    
}
.nav__links li {
    font-size: 16px;
    margin: 12px;
}
.nav__links li a {
    text-decoration: none;
    color: gray;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.nav__links li a:hover {
    color: green;
  
}
.navLinks {
    display: flex;
    list-style: none;
    margin-right: 40px;
    color: gray;
}
.navLinks li {
    margin: 12px;
    font-size: 16px;
}
.navLinks li a {
    text-decoration: none;
    color: gray;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.navLinks li a:hover {
    color: green;
   
}
.part2 p {
    margin-right: 30px;
    font-size: 20px;
}
.part2 i {
    margin-right: 20px;
    font-size: 20px;
}

/* hero section */
#hero {
    
    padding: 80px 120px;
    display: flex;
    justify-content: space-between;
}
.hero-content {
    
    padding-top: 40px;
    padding-left: 100px;
}
.hero-content #leaf-logo{
    margin-bottom: 40px;
}
.hero-content h4 {
    margin-bottom: 40px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.hero-content h1{
    margin-bottom: 40px;
    font-size: 3.25rem;
    font-family: 'Merriweather', serif;
    
}
.hero-content p {
    margin-bottom: 40px;
}
.hero-content button {
    padding: 12px 33px;
    background-color: 	rgb(53, 168, 53);
    color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.hero-content button:hover {
    background-color: rgb(53, 191, 53);
}
.hero-content button i {
    margin-right: 12px;
}

   